#cardRecipes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}
#card{
    background-color: #E7E7E7;
    padding: 0;
    border-radius: 5px;
}
ul li{
    list-style-type: none;
    font-size: 12px;
}
.title{
    font-size: 18px;
}
.description{
    height: 153px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

