$font-background-bot:#E7E7E7;
$font-background-top:#C7BEBE;
    
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1em;
    img{
        margin: 0 auto;
    }
}

.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.article-bloc{
    width: 33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    p{
        margin-bottom: 0.1rem;
        font-weight: 300;
    }
    .img-bloc{
        height: 10em;
        background-color: $font-background-top;
        border-radius: 5px 5px 0 0;
    }
}

.description{
    background-color: $font-background-bot;
    padding:1em;
    border-radius: 0 0 5px 5px;
    .description-header{
        display: flex;
        flex-direction: row;
        font-size: 1em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        span{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 20px;
            font-weight: 900;
        }
        h2{
            font-size:1em;
            margin-bottom: 0.1rem;
            font-weight: 300;
        }
        i{
            margin-right: 0.3em;
            font-weight: 500;
        }
        
    }
    .description-bottom{
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
        .ingredients-list{
            width:50%;
            .ingredients-line{
                display: flex;
                flex-direction: row;
                font-size: 10px;
                .p1{
                    font-weight: 500;
                }
            }
        }
       .description-text{
        width: 50%;
        background-color: red($color: #000000);
        }
    }
}


