$font-background-bot:#E7E7E7;
$font-background-top:#C7BEBE;
    
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:2em 1em 1em 1em;
    img{
        margin: 0 auto;
    }
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:1em 3em;
    box-sizing: border-box;

    height: 55px;
    padding:6px;
    transition-duration: 1s;
    background-color: $font-background-bot;
    border: none;
    border-radius: 5px;
    input{
        border: none;
        background: none;
        width: 90%;
        height: 40px;
        &::placeholder{
            margin-left: 10px;
            font-weight: 100;
        }


    }

    i{
        zoom: 1.5; 
     }
    
    &:hover{
        background-color:#C7BEBE;
    }

}
.filters{

    margin:auto;
    display: flex;
    flex-direction: row;

    .dropdowns{
        border-radius: 5px;
        
        margin-right: 20px;

        input{
        
            border: none;
            background:none;
            height: 55px;
            padding:6px 16px;
            margin: 0 0.5em ;
            &::placeholder{
                color: white;
                font-weight: 600;
            }

    }
    i{
        color: white;
        margin-right: 10px;
    }

    }

    .fa-chevron-up{
        display: none;
    }

    #ingredients-filter{
        background-color: #3282F7;
    }
    #apparels-filter{
        background-color: #68D9A4;
    }
    #ustensils-filter{
        background-color: #ED6454;
    }
}

.results{
    margin:auto;
    padding: 0;
}

.article-bloc{

    margin: 2em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    
    p{
        margin-bottom: 0.1rem;
        font-weight: 300;
    }
    .img-bloc{
        height: 11em;
        background-color: $font-background-top;
        border-radius: 5px 5px 0 0;
    }
}

.description{
    background-color: $font-background-bot;
    padding:1em;
    border-radius: 0 0 5px 5px;
    height: 11em;
    .description-header{
        display: flex;
        flex-direction: row;
        font-size: 1em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        white-space: nowrap;
        i{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 20px;
            font-weight: 500;
            margin-right: 0.3em;
        }
        h2, span{
            font-size:1em;
            margin-bottom: 0.1rem;
            font-weight: 300;
        }
        p{
            display: flex;
            flex-direction: row;
            
        }
    }

    .description-bottom{
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
        
        
        .ingredients-list{
            width:43%;
            .ingredients-line{
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                font-size: 10px;
                
                .p1{
                    font-weight: 500;
                    
                }
            }
        }
       .description-text{
        width: 53%;
        background-color: red($color: #000000);
        font-weight: 300;
        margin-left: 2%;
        
        }
    }
}


