#tag{
    border-radius: 5px;
    background-color: #db7c72;
    color: white;
    margin-top: 2%;
}

button{
    border: 0;
    background-color: #db7c72;
    color: white;
    height: 37px;
    width: 107px;
}