@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none; 
    margin: 0;
    padding: 0;  
}
img {
    width: 17px;
    padding-top: 8px;
}

body {
    font-family: "DM Sans", "sans-serif";
}
#bloc-page {
    max-width: 1300px;
    margin: 0 auto;   
    
}
header {
    margin: 0px 5px 0px 5px;
}
.container_logo {
    display: flex;
    padding: 0.9rem;
    margin:auto;
}
.container_logo {
width: calc(300px + 1vw);
}

label img .container_logo {
    width: 16px;
    position:relative;
    padding-top: 3px;
}

.input_control, input_control-row input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #E7E7E7;
    padding:15px;
    border-radius: 6px;
    margin-bottom: 35px;
}
.input_control input {
    width: 100%;
    font-size: 18px;
    padding-left:10px;
    outline: 0;
    border:0;
    background: #E7E7E7;

    font-family: sans-serif, verdana;
    color: black;
}
.flex_row {
    display: inline-flex;
}
.input_control_2 {
    margin-right: 25px;
    background-color: #3282F7;
}
.input_control_2 input {
    background-color:#3282F7;
}
.input_control_3 {
    margin-right: 25px;
    background-color: #68D9A4;
} 
.input_control_3 input {
    background-color:#68D9A4;
}
.input_control_4{
    background-color: #ED6454;
}
.input_control_4 input {
    background-color: #ED6454;
   
}
.input_control_4 input::placeholder, .input_control_3 input::placeholder, .input_control_2 input::placeholder {
    color:white;
    padding-right: 23px;
} 
.width_chevron {
    width: 0.9rem;
}
/* ---------GALLERIE RECETTES----------------- */
main {
    display: flex;  
    flex-wrap: wrap;  
    gap: 50px;
    justify-content: space-between;  
    margin: 0px 5px 0px 5px; 
}

.recipe_article {
    height: 364px;
    min-width: 380px;
    max-width: 380px;
    position: relative;
    cursor: pointer;
}
.container_image_recipe {
    height: 178px;
    width:100%;
    background: #C7BEBE;
    border-radius: 6px 6px 0px 0px;
}
.boxTitle_imgWatch_Time {
    display: flex;
    justify-content: space-between;
    height: 20px;
    line-height: 2rem;
    background-color: #E7E7E7;
    position: relative;
    /* padding-top: 10px; */
}
.size_name_recipe {
    font-size: 17px;
    padding: 1px 10px; 
    font-family: "lato";
    font-weight: 500; 
    height: 30px;  
    width: 78%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.size_watch {
    position: absolute;
    right: 65px; 
}
.size_min {
    font-size: 16px;
    padding-right: 10px;
    height: 2rem;
    line-height: 2rem;  
    font-family: "lato"; 
    font-weight: 400;
}
.container_ingredients_description {
    display: flex;
    flex-direction: row;
    height: 130px;
    background-color: #E7E7E7;
    border-radius: 0px 0px 6px 6px;
    padding-top: 12px;
    --line-h: 16px;
    --nth-lines-trunc: 7;  
}
.box_ingrédients {
    width:40%;
    height: 120px ;
    margin: 10px 5px 10px 12px;
    line-height: 16px;
    padding-top: 5px;
    font-size: 11px;
    font-family: "lato";
    position: relative;
    line-height: var(--line-h);
    max-height: calc(var(--line-h)*var(--nth-lines-trunc));
    overflow: hidden;
}
.box_ingrédients::after {
    content: "...";
    position: absolute; 
    bottom: 0;

}
.box_description_confection{
    width:65%;
    height: 120px ;
    margin: 10px 10px 10px 5px;
    padding-top: 7px;
    font-size: 10px;
    font-family: "roboto", sans-serif;
    font-weight: 600;
    line-height: 15px;
}
@media screen and (max-width: 892px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 0px !important;
        margin: auto;
    }
    header {
        display: flex;
        flex-direction: column;
    }
}


