body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 42px;
  margin-bottom: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  padding: 0;
}
h4 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}
h5 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
h6 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
}
span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.header-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #d04f4f;
}

.logo {
  height: 46px;
  width: 50px;
}
.input-main {
  width: 100%;
  height: 70px;
  background: #e7e7e7;
  border-radius: 5px;
  border: 0;
  margin-top: 20px;
  background-image: url('/assets/images/icons/search.svg');
  background-position: right 20px bottom 20px;
  background-repeat: no-repeat;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding-left: 20px;
}

.tags {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  gap: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.tag-title {
  display: block ruby;
}

.tag-img {
  cursor: pointer;
}

.inputs-secondary {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 20px;
  margin-top: 20px;
  margin-right: 100px;
}
.ingredients {
  background: #3282f7;
}
.appliances {
  background: #68d9a4;
}

.ustensils {
  background: #ed6454;
}
.input-secondary {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  min-height: 25px;
  max-width: 170px;
  max-height: 25px;
  border-radius: 5px;
  padding: 20px;
  /* transition: max-width 0.3s, max-height 0.3s; */
  z-index: 99;
}

.input-secondary-open {
  max-width: 660px;
  max-height: 380px;
}
.input-secondary-input::placeholder {
  opacity: 1;
}

input:focus {
  outline: none;
}

.input-secondary-head {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.input-secondary-input {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: white;
  width: 140px;
  border: 0;
  opacity: 1;
}
.input-secondary-icon {
  cursor: pointer;
  width: 20px;
}
.input-secondary-items {
  display: none;
  margin-top: 25px;
  flex-wrap: wrap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.input-secondary-item {
  display: none;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  justify-content: flex-start;
  column-gap: 5%;
  row-gap: 50px;
}
.recipe {
  display: none;
  flex-direction: column;
  width: 30%;
  height: 365px;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  background: #e7e7e7;
}
.recipe-img {
  border-radius: 5px 5px 0 0;
  height: 178px;
  width: 100%;
  background: #c7bebe;
}
.recipe-description {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}
.recipe-description-head,
.recipe-description-head div {
  display: flex;
}

.recipe-description-head {
  justify-content: space-between;
}
.recipe-description-head div {
  margin-left: 20px;
  display: flex;
  gap: 7px;
}
.recipe-description-body {
  display: flex;
  margin-top: 10px;
}
.recipe-description-body > div,
.recipe-description-body > span {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-overflow: ellipsis;
  overflow-y: auto;
  height: 95px;
}
.recipe-description-body > span {
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recipe-description-body > div > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.no-recipes {
  margin-top: 130px;
  display: none;
  text-align: center;
  flex-direction: column;
  opacity: 0.9;
}
.no-recipes-logo {
  margin: auto;
  height: 100px;
  width: 100px;
  filter: invert(39%) sepia(14%) saturate(2388%) hue-rotate(314deg)
    brightness(106%) contrast(92%);
}
.no-recipes-text {
  margin-top: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #d04f4f;
}

.show {
  display: flex;
}

datalist {
  overflow-y: hidden;
  display: none;
  flex-wrap: wrap;
}

option {
  width: 30%;
}
option:disabled {
  color: #ffffff;
}

@media only screen and (max-width: 870px) {
  .recipes {
    margin-top: 280px;
  }
  .recipe {
    width: 100%;
  }
  .no-recipes {
    margin-top: 280px;
  }
}
