html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    margin: 0 auto;
}

#ingredient {
    background-color: #3282F7;
}

#appareils {
    background-color: #68D9A4;
}

#ustensiles {
    background-color: #ED6454;
}