.home__content-position {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.home__items-position {
    display: flex;
    width: 100%;
    max-width:  1300px;
    flex-direction: column;
    margin: auto;
}

.home__logo-position {
    display: flex;
    justify-content: center;
}

.home__logo-style {
    width: 250px;
}

.home__input-style {
    display: flex;
    flex-direction: row;
    background-color:lightgrey;
    width: 100%;
    padding: 5px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
}

.items__input-position {
    display: flex;
    flex: 1;
    margin-left: 5px;
}

.items__input-style {
    width: 60%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}

.items__input-style::placeholder {
    color:  #595959;
    font-family: Helvetica, sans-serif;
}

.items__input-button-style {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home__filter-position {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter-food__filter-items {
    padding: 20px;
    margin-top: 40px!important;
    background-color: #0066cc;
    border-radius: 5px;
}

.filter-food__input-items {
    display: flex;
    flex-direction: row;
}

.filter-food__input-style {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: Helvetica, sans-serif;
}

.filter-food__input-style::placeholder {
    color: white;
    font-family: Helvetica, sans-serif;
}

.filter-food__button-style {
    background-color: transparent!important;
    border: none;
    cursor: pointer;
}

.filter-device__filter-items {
    padding: 20px;
    margin-left: 30px;
    margin-top: 40px!important;
    background-color: #0066cc;
    border-radius: 5px;
}

.filter-utensils__filter-items {
    padding: 20px;
    margin-left: 30px;
    margin-top: 40px!important;
    background-color: #0066cc;
    border-radius: 5px;
}

