.input-advanced_style {
    width: 100px;
}

.card_recipe {
    width: 350px;
    height: 350px;
}

.card_recipe-details {
    top: 0px;
}

.dropdown-advanced_style {
    width: 600px;
}

.card__description-style {
    width: 50%;
    height: 90px;
}